.TEGOS {
    color: red;
    font-size: 90px;
    text-align: center;
    text-shadow: 6px 6px 3px black;
}

.center {
    text-align: center;
    font-size: 30px;
}

a {
    color: red;
    text-decoration: none;
    font-style: italic;
    font-weight: 600;
}

.ya {
    font-size: 30px;
    color: blue;
    text-shadow: 3px 3px 1px red;
}